<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>custom_cell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>270E63371DD3BA5C00DFDA7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270E634B1DD3BA5C00DFDA7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270E63561DD3BA5C00DFDA7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
